<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./scss/information.scss">
    <title>Riwi Weater More Info</title>
</head>
<body>
    <div class="loader-container"></div>
    <header>
        <section class="headerTitle-container">
            <h1 class="headerTitle">Riwi Weather</h1>
        </section>
        <nav>
            <ul class="nav-list">
                <li><a href="">Home</a></li>
                <li><a href="">Agregar Ciudad</a></li>
                <li><a href="">Salir</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>